.style0 {
    padding: 70px;
    border: 1px solid #4CAF50;
}

.style1 {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.style2 {
    border: 1px solid black;
    padding: 25px 50px 75px 100px;
    background-color: lightblue;
}

.style3 {
    border: 1px solid black;
    padding: 25px 50px 75px;
    background-color: lightblue;
}

.style4 {
    border: 1px solid black;
    padding: 25px 50px;
    background-color: lightblue;
}

.style5 {
    border: 1px solid black;
    padding: 25px;
    background-color: lightblue;
}

div.ex1 {
    width: 300px;
    background-color: yellow;
}
  
div.ex2 {
    width: 300px;
    padding: 25px;
    background-color: lightblue;
}

div.ex3 {
    width: 300px;
    background-color: yellow;
}
  
div.ex4 {
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
    background-color: lightblue;
}
